footer {
	background-color: #f5f5f7;
	left: 0;
    bottom:0;
    width:100%;
}

.footer-company-info {
	text-align: center;
	padding: 50px;
	font-size: 14px;
}

/* Divider */
.divider-card-solid {
	border-top: 2px solid #000000;
	width: 80px;
}

.divider-card-blank {
	padding: 70px;
}

.divider-header-blank {
	padding: 40px;
}