body {
  display: flex;
  flex-direction: column;
}

footer {
	background-color: #f5f5f7;
	margin-top: auto;
	width: 100%;
}

.footer-company-info {
	text-align: center;
	padding: 50px;
	font-size: 14px;
}

/* Divider */
.divider-card-solid {
	border-top: 2px solid #000000;
	width: 80px;
}

.divider-card-blank {
	padding: 70px;
}

.divider-header-blank {
	padding: 40px;
}