.navbar-expand-lg {
	height: 80px !important;
	background-color: #111111;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%) !important;
}

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	text-decoration: none;
	color: #ffffff;
}

.navbar-brand {
	font-family: 'yg-jalnan' !important;
	font-size: 1.4em !important;
	padding-right: 10px !important;
	color: #FFFFFF !important;
}

.nav-logo-img {
	max-width: 30px !important;
	max-height: 30px !important;
	margin: 0px 4px 0px 0px !important;
	padding: 0px 0px 3px !important;
}

.nav-item {
	padding: 0px 18px !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}

.nav-dropdown-toggle {
	color: #ffffff !important;
}

.nav-dropdown-item:active {
	background-color: #FE5000 !important;
}

.nav-profile-img {
	border-radius: 70% !important;
	width: 32px !important;
	height: 32px !important;
	object-fit: cover !important;
}

.nav-profile-img:hover {
	filter: brightness(85%) !important;
}

.nav-dropdown-toggle-user {
	padding: 0px 0px 0px 20px !important;
}

.nav-dropdown-toggle-user::after {
    display:none !important;
}

.nav-dropdown-toggle::after {
    display:none !important;
}
 
/* 
.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
*/ 
  
.nav-form-control {
	height: 35px !important;
	border-radius: 50em !important;
	border: 1px solid #858585 !important;
	margin: 0px !important;
}

.nav-btn {
	border: 0px !important;
	padding: 0px !important;
}

.nav-form-control {
	margin: 5px !important;
}

.container .dropdown .dropdown-menu a:hover {
	color: #ffffff !important;
	background-color: #FE5000 !important;
}

.nav-dropdown-toggle-user::after {
    display: none !important;
}

.nav-link {
	padding: 0px !important;
}

.navbar-nav {
  color: #FFFFFF !important;
}

.navbar-collapse.collapse.show {
	background: #fe5000;
	border-radius: .25rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-collapse.collapsing {
	background: #fe5000;
	border-radius: .25rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,80,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
