.navbar-expand-lg {
	height: 80px;
	background-color: #111111;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%);
}

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	text-decoration: none;
	color: #ffffff;
}

.navbar-brand {
	font-family: 'yg-jalnan';
	font-size: 1.4em;
	padding-right: 10px;
	color: #FFFFFF !important;
}

.nav-logo-img {
	max-width: 30px;
	max-height: 30px;
	margin: 0px 4px 0px 0px;
	padding: 0px 0px 3px;
}

.nav-item {
	padding: 0px 18px;
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
}

.nav-dropdown-toggle {
	color: #ffffff;
}

.nav-dropdown-item:active {
	background-color: #FE5000;
}

.nav-profile-img {
	border-radius: 70%;
	width: 32px;
	height: 32px;
	object-fit: cover;
}

.nav-profile-img:hover {
	filter: brightness(85%);
}

.nav-dropdown-toggle-user {
	padding: 0px 0px 0px 20px !important;
}

.nav-dropdown-toggle-user::after {
    display:none;
}

.nav-dropdown-toggle::after {
    display:none;
}
 
/* 
.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
*/ 
  
.nav-form-control {
	height: 35px !important;
	border-radius: 50em !important;
	border: 1px solid #858585 !important;
	margin: 0px !important;
}

.nav-btn {
	border: 0px;
	padding: 0px;
}

.nav-form-control {
	margin: 5px !important;
}

.container .dropdown .dropdown-menu a:hover {
	color: #ffffff;
	background-color: #FE5000;
}

.nav-dropdown-toggle-user::after {
    display:none;
}

.nav-link {
	padding: 0px !important;
}

.navbar-nav {
  color: #FFFFFF !important;
}

