/* Notice */
.covid-19 {
	background-color: #111111;
	text-align: center;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.covid-19-link {
	color: #ffffff;
}

.covid-19-link:hover {
	width: 100%;
	color: #ffffff;
	text-decoration: underline 1px;
}

.fas.fa-info-circle {
	margin-right: 8px;
}

/* Main Image */
.main-img {
	width: 100%;
	height: 650px;
	object-fit: cover;
}

/* Divider */
.divider-card-solid {
	border-top: 2px solid #000000;
	width: 80px;
}

.divider-card-blank {
	padding: 25px;
}

.divider-header-blank {
	padding: 30px;
}

/* Card-Common */
.headline {
	font-size: 25px;
	font-weight: 700;
}

.card-img-top {
	object-fit: cover;
	border-radius: 0px;
}

/* Card-Diary */
.card-diary {
	margin: 0px 0px 30px 0px;
	height: 460;
	background-color: #ffffff;
	border-radius: 8px;
}

.card-img-top.diary {
	height: 350px;
	border-radius: 8px 8px 0px 0px;
}

.card-diary:hover {
	box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;
	cursor: pointer;
}

.diary-profile {
	margin: 0px 0px 8px 0px;
}

.diary-profile-img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 70%;
	margin: 0px 5px 0px 0px;
}

.diary-profile-id {
	color: #000000;
	font-weight: 900;
}

.diary-profile-id:hover {
	color: #000000;
	text-decoration: underline 2px;
}

.diary-text {
	margin: 0px 0px 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.diary-content {
	margin: 8px;
}

.diary-hashtag {
	color: #000000;
	font-weight: 900;
}

.diary-hashtag:hover {
	color: #000000;
	text-decoration: underline 2px;
}

.diary-hashtag-area {
	margin: 0px 0px 10px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.diary-section {
	background-color: #F5F5F5;
}

/* View More */
.view-more-p {
	text-align: right;
	margin: 0px 0px 10px 0px;
}

.view-more-a {
	color: #000000;
	text-decoration: underline 2px;
}

.view-more-a:hover {
	color: #000000;
}