/* Notice */
.covid-19 {
	background-color: #000000;
	text-align: center;
	font-size: 15px;
	height: 55px;
	line-height: 55px;
}

.covid-19-link {
	color: #ffffff;
	text-decoration: underline 2px;
}

.covid-19-link:hover {
	width: 100%;
	color: #ffffff;
	text-decoration: underline 2px;
}

/* Divider */
.divider-card-solid {
	border-top: 2px solid #000000;
	width: 80px;
}

.divider-card-blank {
	padding: 70px;
}

.divider-header-blank {
	padding: 35px;
}

/* Header */
.main-img {
	width: 100%;
	height: 680px;
	object-fit: cover;
}

/* Card-Common */
.headline {
	text-align: center;
	font-size: 2.4em;
	font-weight: 900;
	padding: 25px 0px 50px 0px;
}

.card-img-top {
	object-fit: cover;
	border-radius: 0px;
}

/* planner */
.planner {
	text-align: center;
}

.planner-title {
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.5em;
}

.planner-content {
	margin: 0px;
	height: 400px;
	overflow: hidden;
	border: 1px solid;
	padding: 10px;
	margin: 0px 0px 30px 0px;
}

.planner-content:hover {
	box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;
	cursor: pointer;
}

.planner-content-align {
	margin: 145px;
}

.planner-divider-solid {
	border-top: 2px solid #000000;
}

.planner-d-day {
	font-size: 1.8em;
	font-weight: 400;
}

.planner-route {
	font-weight: 500;
}

/* Card-Recommendation */
.card-img-top.recommendation {
	height: 300px;
}

.recommendation-country-name {
	font-size: 1.1em;
	font-weight: 600;
}

.recommendation-content {
	border: 1px solid;
	margin: 0px 0px 30px 0px;
}

.recommendation-content:hover {
	box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;
	cursor: pointer;
}

/* Card-Diary */
.card-diary {
	border: 1px solid;
	margin: 0px 0px 30px 0px;
	height: 620px;
}

.card-img-top.diary {
	height: 500px;
}

.card-diary:hover {
	box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px;
	cursor: pointer;
}

.diary-profile {
	margin: 0px 0px 8px 0px;
}

.diary-profile-img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 70%;
	margin: 0px 5px 0px 0px;
}

.diary-profile-id {
	color: #000000;
	font-weight: 900;
}

.diary-profile-id:hover {
	color: #000000;
	text-decoration: underline 2px;
}

.diary-text {
	margin: 0px 0px 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.diary-content {
	margin: 8px;
}

.diary-hashtag {
	color: #000000;
	font-weight: 900;
}

.diary-hashtag:hover {
	color: #000000;
	text-decoration: underline 2px;
}

.diary-hashtag-area {
	margin: 0px 0px 10px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* View More */
.view-more-p {
	text-align: right;
	margin: 0px 0px 10px 0px;
}

.view-more-a {
	color: #000000;
	text-decoration: underline 2px;
}

.view-more-a:hover {
	color: #000000;
}