/* Notice */
.main-covid-19 {
	background-color: #111111;
	text-align: center;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

.main-covid-19-link {
	color: #ffffff;
}

.main-covid-19-link:hover {
	width: 100%;
	color: #ffffff;
	text-decoration: underline 1px;
}

.main-notice-icon {
	margin-right: 8px;
}

/* Main Image */
.main-main-img {
	width: 100%;
	height: 650px;
	background-image: url(/resources/img/main/main_test.jpg);
    background-size: cover;
}

/* Divider */
.main-divider-section-blank {
	padding: 25px;
}

.main-divider-header-blank {
	padding: 35px;
}

/* Section */
.main-section-headline {
	font-size: 25px;
	font-weight: 700;
}

/* Card-Diary */
.main-card-diary-area {
	margin: 0px 0px 30px 0px;
	height: 460;
	background-color: #ffffff;
	border-radius: 8px;
}

.main-card-diary-img {
	width: 100%;
	height: 350px;
	border-radius: 8px 8px 0px 0px;
	object-fit: cover;
}

.main-card-diary-profile {
	margin: 0px 0px 8px 0px;
}

.main-card-diary-profile-img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 70%;
	margin: 0px 5px 0px 0px;
}

.main-card-diary-profile-id {
	color: #000000;
	font-weight: 900;
}

.main-card-diary-profile-id:hover {
	color: #000000;
	text-decoration: underline 2px;
}

.main-card-diary-content-area {
	margin: 0px 0px 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-card-diary-content {
	margin: 8px;
	height: 70px;
}

.main-card-diary-hashtag {
	color: #000000;
	font-weight: 900;
}

.main-card-diary-hashtag:hover {
	color: #000000;
	text-decoration: underline 2px;
}

.main-card-diary-hashtag-area {
	margin: 0px 0px 10px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-card-diary-section {
	background-color: #F5F5F5;
}