.gada-btn {
	background-color: #1DCAD3 !important;
	color: white !important;
	border-radius: 50px !important;
	font-family: 'Noto Sans KR', sans-serif !important;
}

.gada-btn:hover {
	background-color: #189fa6 !important;
}

.gada-headline {
	color: #1DCAD3;
	font-family: 'Montserrat', sans-serif;
}

.gada-card {
	border-radius: 10px;
	background-color: #f5f5f5;
	border: none;
	padding: 10px;
}

.gada-btn-reverse {
	border: 1px solid #1DCAD3;
	background-color: white;
	color: #1DCAD3;
	border-radius: 50px;
	font-family: 'Noto Sans KR', sans-serif;
}

.gada-btn-reverse:hover {
	color: #CFD2D3;
}