.gada-btn {
	background-color: #1DCAD3 !important;
	color: white !important;
	border-radius: 50px !important;
	font-family: 'Noto Sans KR', sans-serif !important;
}

.gada-btn:hover {
	background-color: #189fa6 !important;
}

.gada-headline {
	color: #1DCAD3;
	font-family: 'Montserrat', sans-serif;
}

.gada-card {
	border-radius: 10px;
	background-color: #f5f5f5;
	border: none;
}