<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.BoardMapper"> 
	
  	<resultMap id="authMap" type="com.gada.travelgada.domain.AuthVO">
		<result property="member_id" column="member_id"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	  <resultMap id="answerMap" type="com.gada.travelgada.domain.AnswerVO">
		<result property="answer_id" column="answer_id"/>
		<result property="member_id" column="member_id"/>
		<result property="text" column="text"/>
		<result property="answer_date" column="answer_date"/>
		<result property="top_answer_id" column="top_answer_id"/>
		<result property="board_id" column="board_id"/>
	</resultMap>
	
    <resultMap id="BoardMap" type="com.gada.travelgada.domain.BoardVO">
       <result property="board_id" column="board_id"/>
       <result property="title" column="title"/>
       <result property="text" column="text"/>
       <result property="board_date" column="board_date"/>
       <result property="bhit" column="bhit"/>
       <result property="bgroup" column="bgroup"/>
       <result property="bstep" column="bstep"/>
       <result property="bindent" column="bindent"/>
       <result property="board_type_id" column="board_type_id"/>     
       <result property="member_id" column="member_id"/>
       <result property="cnt" column="cnt"/>
       
       <collection property="answerList" resultMap="answerMap"></collection>
   </resultMap>
   
   <resultMap id="MemberMap" type="com.gada.travelgada.domain.MemberVO">
      <result property="member_id" column="member_id"/>
      <result property="pw" column="pw"/>
      <result property="member_name" column="member_name"/>
      <result property="email" column="email"/>
      <result property="phone_num" column="phone_num"/>
      <result property="profile_img_path" column="profile_img_path"/>
      <result property="withdrawal_flag" column="withdrawal_flag"/>
      <result property="withdrawal_code" column="withdrawal_code"/>
      <result property="sns_type" column="sns_type"/>
      <collection property="authList" resultMap="authMap"></collection>
      <collection property="boardList" resultMap="BoardMap"></collection>
   </resultMap> 
   

	<!-- select B1.* FROM ( SELECT * FROM board where board_type_id = #{board_type_id} order by bgroup desc, bstep asc ) B1 LIMIT #{nowPage}, #{amount} -->
	<select id="selectReviewBoard" resultMap="BoardMap">
		<![CDATA[
			select B1.*, (select count(*) from answer where answer.board_id = B1.board_id) cnt from (SELECT * FROM board where board_type_id = #{board_type_id} order by bgroup desc, bstep asc ) B1 LIMIT #{nowPage}, #{amount}
		]]>
	</select>

	<select id="getTotalReviewBoard" resultType="int">
		<![CDATA[
			select count(*) from board where board_type_id = #{i}
		]]>
	</select>
	
<!-- 	<select id="selectQnABoard" resultMap="BoardMap">
		<![CDATA[
			select B2.* FROM( SELECT * FROM board where board_type_id = 2 order by bgroup desc, bstep asc ) B2 LIMIT #{nowPage}, #{amount} 		
		]]>
	</select>

	<select id="getTotalQnABoard" resultType="int">
		<![CDATA[
			select count(*) from board where board_type_id = 2
		]]>
	</select>	
	
	<select id="getAccompanyBoard" resultMap="BoardMap">
		<![CDATA[
			select B3.* FROM( SELECT * FROM board where board_type_id = 3 order by bgroup desc, bstep asc, board_date desc ) B3 LIMIT #{nowPage}, #{amount} 		
		]]>
	</select>

	<select id="getTotalAccompanyBoard" resultType="int">
		<![CDATA[
			select count(*) from board where board_type_id = 3
		]]>
	</select>	 -->
	
	
	<select id="getNotice" resultMap="BoardMap">
		<![CDATA[
			 		
			select * from (select * from board where board_type_id = 4) a order by a.board_id desc
		]]>
	</select>

	<select id="boardContentView" resultMap="BoardMap">
		<![CDATA[
			
			select * from board where board_id = #{board_id}
		]]>
	</select>
	
	<update id="addHit">
		<![CDATA[
			update board set bhit = bhit + 1 where board_id = #{board_id}
		]]>
	</update>
			
	<select id="boardImgPath" resultMap="MemberMap">
		<![CDATA[
			
			select * from member where member_id = #{member_id}
		]]>
	</select>
	
	<insert id="writeBoard"> 
		<![CDATA[ 
			insert into board (board_id, title, text, board_date, bhit, bgroup, bstep, bindent, board_type_id, member_id)
			values (get_seq('board_seq'), #{title}, #{text}, DEFAULT, 0, get_seq('bgroup_seq'), 0, 0, #{board_type_id}, #{member_id})
		]]> 
	</insert> 
	
	<update id="modifyBoardContent">
		<![CDATA[
			update board set title=#{title}, text=#{text}, board_type_id=#{board_type_id} where board_id = #{board_id}
		]]>
	</update>
	
	<delete id="deleteBoard">
		<![CDATA[
			delete from board where board_id = #{board_id}
		]]>
	</delete>
	
	<delete id="delete_allAnswer">
		<![CDATA[
			delete from answer where board_id = #{board_id}
		]]>
	 </delete>
	 
	 <delete id="deleteReply">
		<![CDATA[
			delete from answer where answer_id = #{answer_id}
		]]>
	 </delete>
	
	<select id="getReply" resultMap="BoardMap">
		<![CDATA[
			select answer.answer_id, answer.text, answer.answer_date, answer.member_id from board, answer where #{board_id} = answer.board_id order by answer.answer_id asc
		]]>
	</select>
	
	<insert id="writeReply"> 
		<![CDATA[ 
			insert into answer (answer_id, member_id, text, answer_date, top_answer_id, board_id)
			values (get_seq('answer_seq'), #{member_id}, #{text}, DEFAULT, 0, #{board_id})
		]]> 
	</insert> 
	
	<select id="getRecentReply" resultMap="BoardMap">
		<![CDATA[
			select answer.answer_id, answer.text, answer.answer_date, answer.member_id from board, answer where #{board_id} = answer.board_id order by answer.answer_date desc LIMIT 1
		]]>
	</select>
	
	<select id="boardAnswerView" resultMap="BoardMap">
		<![CDATA[
			select * from board where board_id = #{board_id}
		]]>
	</select>
	
	<insert id="boardAnswer">
		<![CDATA[
			insert into board (board_id, title, text, board_date, bhit, bgroup, bstep, bindent, board_type_id, member_id) values (get_seq('board_seq'), #{title}, #{text}, DEFAULT, 0, #{bgroup}, #{bstep}+1, #{bindent}+1, #{board_type_id}, #{member_id} )
		]]>
	</insert>
	
	<update id="boardAnswerGroup">
		<![CDATA[
			update board set bstep = bstep + 1 where bgroup = #{bgroup} and bstep > #{bstep}
		]]>
	</update>
	
	<select id="getReply_count" resultType="int">
		<![CDATA[
			select count(a.text) from (select answer.text, answer.board_id from answer, board where answer.board_id = board.board_id) a where a.board_id = #{board_id}
		]]>
	</select>
	
	
</mapper>
