<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.gada.travelgada.mapper.DestinationMapper"> 

	<select id="getTotalCount" resultType="com.gada.travelgada.domain.DestinationVO"> 
		<![CDATA[ 
			select count(*) as total, ifnull(schedule_content, 0) as city, latitude, longitude from schedule where schedule_type_id = 1 group by schedule_content, latitude, longitude order by total desc
		]]> 
	</select> 

	<select id="getMonthlyCount" resultType="int"> 
		<![CDATA[ 
			select count(*) as total from schedule where schedule_type_id = 1 and YEAR(schedule_date) = #{year} and MONTH(schedule_date) = #{month}
		]]> 
	</select> 
	
	<select id="getMonthlyCountDetail" resultType="com.gada.travelgada.domain.DestinationVO">
		<![CDATA[ 
			select count(*) as total, ifnull(schedule_content, 0) as city, latitude, longitude from schedule where schedule_type_id = 1 and YEAR(schedule_date) = #{year} and MONTH(schedule_date) = #{month} group by schedule_content, latitude, longitude, schedule_date order by total desc
		]]>
	</select>
	
</mapper>
