<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gada.travelgada.mapper.MainMapper">

	<resultMap id="memberMap"
		type="com.gada.travelgada.domain.MemberVO">
		<result property="member_id" column="member_id" />
		<result property="pw" column="pw" />
		<result property="member_name" column="member_name" />
		<result property="email" column="email" />
		<result property="phone_num" column="phone_num" />
		<result property="profile_img_path" column="profile_img_path" />
		<result property="withdrawal_flag" column="withdrawal_flag" />
		<result property="withdrawal_code" column="withdrawal_code" />
		<result property="sns_type" column="sns_type" />
		
		<collection property="plannerVO" resultMap="plannerMap"></collection>
	</resultMap>
	
	<!-- 플래너 1, 멤버에 대해서는 플래너가 n-->
	<resultMap id="plannerMap"
		type="com.gada.travelgada.domain.PlannerVO">
		<result property="planner_id" column="planner_id" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="planner_name" column="planner_name" />
		<result property="satisfaction" column="satisfaction" />
		<result property="member_id" column="member_id" />

		<collection property="diaryVO" resultMap="diaryMap"></collection>
	</resultMap>
  
	<!-- 다이어리 n -->
	<resultMap id="diaryMap"
		type="com.gada.travelgada.domain.DiaryVO">
		<result property="diary_id" column="diary_id" />
		<result property="img_path" column="img_path" />
		<result property="text" column="text" />
		<result property="hashtag" column="hashtag" />
		<result property="diary_date" column="diary_date" />
		<result property="planner_id" column="planner_id" />
		
	</resultMap>
	
		<!-- 통합 검색 다이어리 부분 -->
	<select id="getDiary" resultMap="memberMap"> 
		<![CDATA[ 
			select m.member_id, m.profile_img_path, d.* from member m, planner p, diary d where p.member_id = m.member_id and d.planner_id = p.planner_id order by diary_date desc limit 6
		]]>
	</select>
	
	<select id="getRecommendationCountry" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[
			select count(*) as total, schedule_content from schedule where schedule_type_id = 5 group by schedule_content order by total desc limit 4
		]]>
	</select>
	
</mapper>