<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.PlannerMapper">

	<select id="selectPlanner" resultType="com.gada.travelgada.domain.PlannerVO">
		<![CDATA[
			select * from planner where member_id = #{member_id} order by end_date desc
		]]>
	</select>

	<select id="selectPlannerForMain" resultType="com.gada.travelgada.domain.PlannerVO">
		<![CDATA[
			select * from planner where member_id = #{member_id} and end_date > now() order by start_date limit 2
		]]>
	</select>
	
	<insert id="insertPlanner">
		<![CDATA[
			insert into planner(planner_id, start_date, end_date, planner_name, member_id) values(get_seq('planner_seq'), #{start_date}, #{end_date}, #{planner_name}, #{member_id}) 
		]]>
	</insert>
	
	<select id="selectFuturePlanner" resultType="com.gada.travelgada.domain.PlannerVO">
		<![CDATA[
			select * from planner where member_id = #{member_id} and end_date > now() order by start_date
		]]>
	</select>
	
	<select id="selectPastPlanner" resultType="com.gada.travelgada.domain.PlannerVO">
		<![CDATA[
			select * from planner where member_id = #{member_id} and end_date <= now() order by start_date desc
		]]>
	</select>
</mapper>