<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.gada.travelgada.mapper.SalesMapper"> 

	<resultMap type="com.gada.travelgada.domain.BuyVO" id="buyMap">
		<result property="buy_id" column="buy_id"/>
		<result property="buy_date" column="buy_date"/>
		<result property="waybill_num" column="waybill_num"/>
		<result property="member_id" column="member_id"/>
		<result property="shipping_loc_name" column="shipping_loc_name"/>
		<collection property="details" resultMap="buyDetailMap"></collection>
	</resultMap>
	
	<resultMap id="buyDetailMap" type="com.gada.travelgada.domain.BuyDetailVO">
	    <result property="buy_detail_id" column="buy_detail_id"/>
	    <result property="product_name" column="product_name"/>
	    <result property="price" column="price"/>
	    <result property="quantity" column="quantity"/>
	    <result property="buy_id" column="buy_id"/>
		<collection property="product" resultMap="productMap"></collection>
	</resultMap>
	
	<resultMap type="com.gada.travelgada.domain.ProductVO" id="productMap">
		<result property="product_id" column="product_id"/>
		<result property="product_name" column="product_name"/>
		<result property="price" column="price"/>
		<result property="added_date" column="added_date"/>
		<result property="img_path" column="img_path"/>
		<result property="amount" column="amount"/>
		<result property="product_type_id" column="product_type_id"/>
	</resultMap>
	
	<select id="selectBuyByMonth" resultType="int">
		<![CDATA[
			select ifnull(sum(D.price), 0) from buy B, buy_detail D where B.buy_id = D.buy_id and year(B.buy_date) = #{year} and month(B.buy_date) = #{month}
		]]>
	</select>
	
	<select id="selectBuyByDay" resultType="int">
		<![CDATA[
			select ifnull(sum(D.price), 0) from buy B, buy_detail D where B.buy_id = D.buy_id and year(B.buy_date) = #{year} and month(B.buy_date) = #{month} and day(B.buy_date) = #{day}
		]]>
	</select>
	
	<select id="selectProductCount" resultType="com.gada.travelgada.domain.ProductCountVO">
		<![CDATA[
			select product_name, sum(price) as total_price, count(*) as count from buy_detail group by product_name order by count desc, total_price desc
		]]>
	</select>
	
		<select id="selectProductCountByMonth" resultType="com.gada.travelgada.domain.ProductCountVO">
		<![CDATA[
			select product_name, sum(price) as total_price, count(*) as count from buy_detail D, buy B where D.buy_id = B.buy_id and year(B.buy_date) = #{year} and month(B.buy_date) = #{month} group by D.product_name order by count desc, total_price desc
		]]>
	</select>
	
</mapper>
