<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.ScheduleMapper">

	<!-- <select id="getSchedule" resultType="com.gada.travelgada.domain.ScheduleVO"> 
		<![CDATA[ select * from schedule ]]> </select> -->

	<select id="selectPlanner"
		resultType="com.gada.travelgada.domain.PlannerVO">
		<![CDATA[
			select * from planner where member_id = #{member_id}
		]]>
	</select>

	<select id="selectSchedule" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[
			select schedule_id, schedule_date, ifnull(budget, 0) as 'budget', planner_id, schedule_type_id, schedule_content, latitude, longitude, schedule_order from schedule where planner_id = #{planner_id} and schedule_type_id = #{schedule_type_id} order by schedule_date, schedule_order
		]]>
	</select>
	
	<select id="selectAllSchedule" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[
			select schedule_id, schedule_date, ifnull(budget, 0) as 'budget', planner_id, schedule_type_id, schedule_content, latitude, longitude, schedule_order from schedule where planner_id = #{planner_id} order by schedule_date, schedule_order;
		]]>
	</select>
	
	<insert id="insertSchedule">
		<![CDATA[
			insert into schedule(schedule_id, schedule_date, budget, planner_id, schedule_type_id, schedule_content, latitude, longitude, schedule_order) values (get_seq('schedule_seq'), #{schedule_date}, #{budget}, #{planner_id}, #{schedule_type_id}, #{schedule_content}, #{latitude}, #{longitude}, #{schedule_order})
		]]>
	</insert>
	
	<select id="selectScheduleOrder" resultType="int">
		<![CDATA[
			select schedule_order from schedule where planner_id = #{planner_id} and schedule_date = #{schedule_date} order by schedule_order desc limit 1
		]]>
	</select>
	
	<delete id="deleteSchedule">
		<![CDATA[
			delete from schedule where schedule_id = #{schedule_id}
		]]>
	</delete>
	
	<select id="selectLastSchedule" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[
			select * from schedule where planner_id = #{planner_id} order by schedule_id desc limit 1
		]]>
	</select>
	
	<update id="ordering">
		<![CDATA[
			update schedule S, (select @rownum:=@rownum+1 as 'rnum', A.schedule_id as 'id' from schedule A, (select @rownum:=0) R where A.planner_id = #{planner_id} and A.schedule_date = #{schedule_date} and A.schedule_type_id=4) N set S.schedule_order = N.rnum where S.schedule_id = id
		]]>
	</update>
	
	<select id="selectScheduleById" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[
			select * from schedule where schedule_id = #{schedule_id}
		]]>
	</select>
	
	<update id="updateSchedule">
		<![CDATA[
			update schedule set schedule_order = #{schedule_order}, budget = #{budget} where schedule_id = #{schedule_id}
		]]>
	</update>
	
	<select id="getMap" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[	
			select schedule_date, schedule_type_id, schedule_content, latitude, longitude from schedule where schedule_type_id in (2, 4) and planner_id = #{planner_id} and schedule_date = #{schedule_date}
		]]>
	</select>
	
	<select id="getAllMap" resultType="com.gada.travelgada.domain.ScheduleVO">
		<![CDATA[	
			select schedule_type_id, schedule_content, latitude, longitude from schedule where schedule_type_id in (2, 4) and planner_id = #{planner_id}
		]]>
	</select>
	
	<delete id="deleteScheduleByPlannerId">
		<![CDATA[	
			delete from schedule where planner_id = #{planner_id};
		]]>
	</delete>
	
	<delete id="deleteBeyondSchedule">
		<![CDATA[	
			delete from schedule where planner_id = #{planner_id} and date(schedule_date) not between #{start_date} and #{end_date}
		]]>
	</delete>
	
</mapper>