<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.gada.travelgada.mapper.SearchMapper">

	<!-- resultMap -->
	
	<!-- 멤버 1 -->
	<resultMap id="memberMap"
		type="com.gada.travelgada.domain.MemberVO">
		<result property="member_id" column="member_id" />
		<result property="pw" column="pw" />
		<result property="member_name" column="member_name" />
		<result property="email" column="email" />
		<result property="phone_num" column="phone_num" />
		<result property="profile_img_path" column="profile_img_path" />
		<result property="withdrawal_flag" column="withdrawal_flag" />
		<result property="withdrawal_code" column="withdrawal_code" />
		<result property="sns_type" column="sns_type" />
		
		<collection property="plannerVO" resultMap="plannerMap"></collection>
	</resultMap>
	
	<!-- 플래너 1, 멤버에 대해서는 플래너가 n-->
	<resultMap id="plannerMap"
		type="com.gada.travelgada.domain.PlannerVO">
		<result property="planner_id" column="planner_id" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="planner_name" column="planner_name" />
		<result property="satisfaction" column="satisfaction" />
		<result property="member_id" column="member_id" />

		<collection property="diaryVO" resultMap="diaryMap"></collection>
		<collection property="scheduleVO" resultMap="scheduleMap"></collection>
	</resultMap>
   
      <!-- 스케줄 n -->
	<resultMap id="scheduleMap"
		type="com.gada.travelgada.domain.ScheduleVO">
		<result property="budget" column="budget" />
		<result property="planner_id" column="planner_id" />
		<result property="schedule_date" column="schedule_date" />
		<result property="schedule_id" column="schedule_id" />
		<result property="schedule_type_id" column="schedule_type_id" />
		<result property="schedule_content" column="schedule_content" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="schedule_order" column="schedule_order" />
	</resultMap>
	
	<!-- 다이어리 n -->
	<resultMap id="diaryMap"
		type="com.gada.travelgada.domain.DiaryVO">
		<result property="diary_id" column="diary_id" />
		<result property="img_path" column="img_path" />
		<result property="text" column="text" />
		<result property="hashtag" column="hashtag" />
		<result property="diary_date" column="diary_date" />
		<result property="planner_id" column="planner_id" />
		
	</resultMap>
	
	<!-- 통합 검색 일정 부분 -->
	<select id="searchPl" resultMap="plannerMap"> 
		<![CDATA[ 
			select a.* from (select s.schedule_content,s.schedule_type_id,p.* from schedule s,planner p
				where s.planner_id = p.planner_id) a
					where a.planner_name like CONCAT('%', #{keyword}, '%') 
						order by a.planner_id desc LIMIT 2
		]]>
	</select>
	
	<!-- 통합 검색 다이어리 부분 -->
	<select id="searchDi" resultMap="memberMap"> 
		<![CDATA[ 
			select a.* from (select m.member_id, m.profile_img_path ,d.* from member m, planner p,diary d 
				where p.member_id = m.member_id and d.planner_id = p.planner_id)a 
					where a.text like CONCAT('%', #{keyword}, '%') or a.hashtag like CONCAT('%', #{keyword}, '%')
		 				LIMIT 8
		]]>
	</select>

	<!-- 일정 더보기 ( 조건 ) -->
	<select id="searchPlMore" resultMap="plannerMap"> 
		<![CDATA[ 
			select s.schedule_content,s.schedule_type_id,p.* from schedule s,planner p
				where s.planner_id = p.planner_id 
					and p.planner_name like CONCAT('%', #{keyword}, '%')	
						${order}
					
		]]>
	</select>

	<!-- 다이어리 더보기 ( 조건 ) -->
	<select id="searchDiMore" resultMap="memberMap"> 
		<![CDATA[ 
		
			select b.* from(select a.* from (select m.member_id, m.profile_img_path ,d.* from member m, planner p,diary d 
				where p.member_id = m.member_id and d.planner_id = p.planner_id)a 
					where a.text like CONCAT('%', #{keyword}, '%') or a.hashtag like CONCAT('%', #{keyword}, '%'))b 
						${order};
		
		]]>
	</select>
   
</mapper>
