<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.ShippingLocMapper">

	<delete id="deleteShippingLoc">
		<![CDATA[
			delete from shipping_loc where shipping_loc_name = #{shipping_loc_name} and member_id = #{member_id}
		]]>
	</delete>
</mapper>