<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.ShoppingMapper">

	<select id="selectProductList" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product
		]]>
	</select>
	
	<select id="selectProductByTypeWithSorting" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_type_id = #{product_type_id} order by ${order} limit 0, 9
		]]>
	</select>
	
	<select id="selectProduct" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_id = #{product_id}
		]]>
	</select>
	
	<select id="selectProductByTypeWithSortingAndPaging" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_type_id = #{product_type_id} order by ${order} limit ${page}, 9
		]]>
	</select>
	
	<select id="selectBuyById" resultType="com.gada.travelgada.domain.BuyVO">
		<![CDATA[
			select * from buy where member_id = #{member_id}
		]]>
	</select>
	
	<select id="selectBuyDetailById" resultType="com.gada.travelgada.domain.BuyDetailVO">
		<![CDATA[
			select * from buy_detail where buy_id = #{buy_id}
		]]>
	</select>
	
		<select id="selectBuy" resultType="com.gada.travelgada.domain.BuyVO">
		<![CDATA[
			select * from buy where buy_id = #{buy_id}
		]]>
	</select>
	
	<insert id="insertPaymentResult">
		<![CDATA[	
			insert into buy (buy_id, buy_date, waybill_num, member_id, shipping_loc_name) values (#{buy_id}, sysdate(), 507673031401, #{member_id}, #{shipping_loc_name})
		]]>
	</insert>
	
	<insert id="insertPaymentResultDetail">
		<![CDATA[	
			insert into buy_detail (buy_detail_id, product_name, price, quantity, buy_id, product_id) values (get_seq('buy_detail_seq'), #{product_name}, #{price}, #{quantity}, #{buy_id}, #{product_id})
		]]>
	</insert>
	
	<insert id="updateAccumulatePoint">
		<![CDATA[
			insert into point (point_id, member_id, amount, save_date, save_flag) values (get_seq('point_seq'), #{member_id}, #{amount}, sysdate(), 0)
		]]>
	</insert>
	
	<insert id="updateDeductionPoint">
		<![CDATA[
			insert into point (point_id, member_id, amount, save_date, save_flag) values (get_seq('point_seq'), #{member_id}, #{amount}, sysdate(), 1)
		]]>
	</insert>
	
	<select id="getPaymentResult" resultType="com.gada.travelgada.domain.BuyDetailVO">
		<![CDATA[
			select product_name, price, quantity, buy_id, product_id from buy_detail where buy_id = #{buy_id}
		]]>
	</select>
	
</mapper>