<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.ShoppingMapper">

	<resultMap id="buyMap" type="com.gada.travelgada.domain.BuyVO">
		<result property="buy_id" column="buy_id" />
		<result property="buy_date" column="buy_date" />
		<result property="waybill_num" column="waybill_num" />
		<result property="member_id" column="member_id" />
		<result property="shipping_loc_name" column="shipping_loc_name" />
		<result property="paid_amount" column="paid_amount" />
	</resultMap>
	
	<resultMap id="productMap" type="com.gada.travelgada.domain.ProductVO">
		<result property="product_id" column="product_id" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="added_date" column="added_date" />
		<result property="img_path" column="img_path" />
		<result property="amount" column="amount" />
		<result property="product_type_id" column="product_type_id" />
	</resultMap>
	
	<resultMap id="buyDetailMap" type="com.gada.travelgada.domain.BuyListVO">
		<result property="buy_detail_id" column="buy_detail_id" />
		<result property="product_name" column="product_name" />
		<result property="price" column="price" />
		<result property="quantity" column="quantity" />
		
		<collection property="buy" resultMap="buyMap"></collection>
		<collection property="product" resultMap="productMap"></collection>
	</resultMap>


	<select id="selectProductList" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product
		]]>
	</select>
	
	<select id="selectProductByTypeWithSorting" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_type_id = #{product_type_id} order by ${order} limit 0, 9
		]]>
	</select>
	
	<select id="selectProductBySalesCount" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product P, (select count(*) as count, product_id from buy_detail group by product_id) C where P.product_id = C.product_id and P.product_type_id = #{product_type_id} order by C.count desc limit 0, 9
		]]>
	</select>
	
	<select id="selectProductBySalesCountWithPaging" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product P, (select count(*) as count, product_id from buy_detail group by product_id) C where P.product_id = C.product_id and P.product_type_id = #{product_type_id} order by C.count desc limit ${page}, 9
		]]>
	</select>
	
	<select id="selectProduct" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_id = #{product_id}
		]]>
	</select>
	
	<select id="selectProductByTypeWithSortingAndPaging" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_type_id = #{product_type_id} order by ${order} limit ${page}, 9
		]]>
	</select>
	
	<select id="selectBuyById" resultType="com.gada.travelgada.domain.BuyVO">
		<![CDATA[
			select * from buy where member_id = #{member_id} order by buy_date desc
		]]>
	</select>
	
	<select id="selectBuyListById" resultMap="buyDetailMap">
		<![CDATA[
			select * from buy B, buy_detail D, product P where member_id = #{member_id} and D.buy_id = B.buy_id and D.product_id = P.product_id order by B.buy_date desc
		]]>
	</select>
	
	<select id="selectBuyListTotal" resultType="int">
		<![CDATA[
			select count(*) from buy B, buy_detail D where B.buy_id = D.buy_id and member_id = #{member_id} ${filter}
		]]>
	</select>
	
	<select id="selectBuyListByIdWithPage" resultMap="buyDetailMap">
		<![CDATA[
			select * from buy B, buy_detail D, product P where member_id = #{member_id} and D.buy_id = B.buy_id and D.product_id = P.product_id ${filter} order by B.buy_date desc limit #{pageNum}, #{amount}
		]]>
	</select>
	
	<select id="selectBuyDetailById" resultType="com.gada.travelgada.domain.BuyDetailVO">
		<![CDATA[
			select * from buy_detail where buy_id = #{buy_id}
		]]>
	</select>
	
	<select id="selectBuy" resultType="com.gada.travelgada.domain.BuyVO">
		<![CDATA[
			select * from buy where buy_id = #{buy_id}
		]]>
	</select>
	
	<insert id="insertPaymentResult">
		<![CDATA[	
			insert into buy (buy_id, buy_date, waybill_num, member_id, shipping_loc_name, paid_amount) values (#{buy_id}, sysdate(), 507673031401, #{member_id}, #{shipping_loc_name}, #{paid_amount})
		]]>
	</insert>
	
	<insert id="insertPaymentResultDetail">
		<![CDATA[	
			insert into buy_detail (buy_detail_id, product_name, price, quantity, buy_id, product_id) values (get_seq('buy_detail_seq'), #{product_name}, #{price}, #{quantity}, #{buy_id}, #{product_id})
		]]>
	</insert>
	
	<insert id="updateAccumulatePoint">
		<![CDATA[
			insert into point (point_id, member_id, amount, save_date, save_flag) values (get_seq('point_seq'), #{member_id}, #{amount}, sysdate(), 0)
		]]>
	</insert>
	
	<insert id="updateDeductionPoint">
		<![CDATA[
			insert into point (point_id, member_id, amount, save_date, save_flag) values (get_seq('point_seq'), #{member_id}, #{amount}, sysdate(), 1)
		]]>
	</insert>
	
</mapper>