<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gada.travelgada.mapper.ShoppingMapper">

	<select id="selectProductList" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product
		]]>
	</select>
	
	<select id="selectProductByTypeWithSorting" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_type_id = #{product_type_id} order by ${order} limit 0, 9
		]]>
	</select>
	
	<select id="selectProduct" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_id = #{product_id}
		]]>
	</select>
	
	<select id="selectProductByTypeWithSortingAndPaging" resultType="com.gada.travelgada.domain.ProductVO">
		<![CDATA[
			select * from product where product_type_id = #{product_type_id} order by ${order} limit ${page}, 9
		]]>
	</select>
	
	<select id="selectBuyById" resultType="com.gada.travelgada.domain.BuyVO">
		<![CDATA[
			select * from buy where member_id = #{member_id}
		]]>
	</select>
	
	<select id="selectBuyDetailById" resultType="com.gada.travelgada.domain.BuyDetailVO">
		<![CDATA[
			select * from buy_detail where buy_id = #{buy_id}
		]]>
	</select>
	
		<select id="selectBuy" resultType="com.gada.travelgada.domain.BuyVO">
		<![CDATA[
			select * from buy where buy_id = #{buy_id}
		]]>
	</select>
	
</mapper>